
*.dll
TITEjamXI_Balumiini_game/Library/ArtifactDB
TITEjamXI_Balumiini_game/Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
TITEjamXI_Balumiini_game/Library/ShaderCache/EditorEncounteredVariants
*.log
TITEjamXI_Balumiini_game/Library/SourceAssetDB
TITEjamXI_Balumiini_game/Packages/packages-lock.json
TITEjamXI_Balumiini_game/Library/InspectorExpandedItems.asset
TITEjamXI_Balumiini_game/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
